unified-communication-support-unicom/src/test/resources/js_unicom/WSSOP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSSOP"
	targetNamespace="http://websrv.cs.fsu.edu/~engelen/MASP.wsdl"
	xmlns:tns="http://websrv.cs.fsu.edu/~engelen/MASP.wsdl" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="urn:WSSOP"
	xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
	xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">

	<types>

		<schema targetNamespace="urn:WSSOP"
			xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
			xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="urn:WSSOP"
			xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified"
			attributeFormDefault="unqualified">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<complexType name="CWSServNode">
				<sequence>
					<element name="m-strServName" type="xsd:string" minOccurs="1"
						maxOccurs="1" />
				</sequence>
			</complexType>
			<complexType name="CWSVarNode">
				<sequence>
					<element name="m-strName" type="xsd:string" minOccurs="1"
						maxOccurs="1" />
					<element name="m-strValue" type="xsd:string" minOccurs="1"
						maxOccurs="1" />
				</sequence>
			</complexType>
			<complexType name="CWSInputData">
				<sequence>
					<element name="m-strOrderID" type="xsd:string" minOccurs="1"
						maxOccurs="1" />
					<element name="m-strSerialNumber" type="xsd:string"
						minOccurs="1" maxOccurs="1" />
					<element name="nPriority" type="xsd:int" minOccurs="1"
						maxOccurs="1" />
					<element name="m-strSwitchid" type="xsd:string" minOccurs="1"
						maxOccurs="1" />
					<element name="m-vServList" type="ns:CWSServNode"
						minOccurs="0" maxOccurs="unbounded" />
					<element name="m-vVarList" type="ns:CWSVarNode" minOccurs="0"
						maxOccurs="unbounded" />
				</sequence>
			</complexType>
		</schema>

	</types>

	<message name="CallWSSOP">
		<part name="objInputData" type="ns:CWSInputData" />
	</message>

	<message name="CWSResultData">
		<part name="m-strOrderID" type="xsd:string" />
		<part name="m-nOperationResult" type="xsd:int" />
		<part name="m-strFinishTime" type="xsd:string" />
		<part name="m-strErrorDescription" type="xsd:string" />
		<part name="m-nCMDCount" type="xsd:int" />
		<part name="m-strAutoCMDList" type="xsd:string" />
		<part name="m-vQueryResultList" type="ns:CWSVarNode" />
	</message>

	<portType name="WSSOPPortType">
		<operation name="CallWSSOP">
			<documentation>Service definition of function ns__CallWSSOP
			</documentation>
			<input message="tns:CallWSSOP" />
			<output message="tns:CWSResultData" />
		</operation>
	</portType>

	<binding name="WSSOP" type="tns:WSSOPPortType">
		<SOAP:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="CallWSSOP">
			<SOAP:operation style="rpc" soapAction="" />
			<input>
				<SOAP:body use="encoded" namespace="urn:WSSOP"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<SOAP:body use="encoded" namespace="urn:WSSOP"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>

	<service name="WSSOP">
		<documentation>gSOAP 2.7.9f generated service definition
		</documentation>
		<port name="WSSOP" binding="tns:WSSOP">
			<SOAP:address location="http://websrv.cs.fsu.edu/~engelen/MSAPserver.cgi" />
		</port>
	</service>

</definitions>
